# ZSH
**/.zcompdump*
**/.zsh_history
**/.histfile
**/zsh/.cache

# NVIM
**/tt.*
**/.tests
**/doc/tags
**/debug
**/.repro
**/foo.*
**/*.log
**/data

# MACOS
**/.DS_Store

# TMUX
roles/tmux/files/plugins

# GRAPHITE
roles/graphite/files/user_config

# NUSHELL
roles/nushell/files/history.txt
